.display-none   { display: none; }
.display-block  { display: block; }


/* bootstrap */

.card {
    width: 32rem;
    margin: 0 auto;
}


/* dropzone*/

.dz-progress    { display: none !important; }